<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/components.css" />
    <link rel="stylesheet" href="/css/building-management-style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <title>إدارة المباني السكنيّة والتجاريّة</title>
  </head>
  <body>
    <!-- Nav -->
    <nav class="nav">
      <div class="container">
        <div class="burger-menu">
          <button id="Burger-menuToggle" type="button">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="nav-logo">
          <a href="/home">
            <svg
              viewBox="0 0 182 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.23204 18.5755H0.877592C0.0579127 18.5755 0 18.5209 0 17.7434C0 16.9658 0.0579127 16.9112 0.877592 16.9112H9.23922C10.0411 16.9112 10.099 16.9658 10.099 17.7434C10.099 18.5209 10.0411 18.5755 9.23922 18.5755H5.9115V28.966C5.9115 29.7163 5.85804 29.7708 5.06954 29.7708C4.28105 29.7708 4.22759 29.7208 4.22759 28.9751V18.5755H4.23204ZM10.0589 28.5703L13.841 18.2617C14.3177 16.9476 14.3667 16.9112 15.5561 16.9112C16.7455 16.9112 16.7945 16.9476 17.2712 18.2436L21.0622 28.6022C21.1647 28.8841 21.227 29.0614 21.227 29.1797C21.227 29.448 21.0444 29.5253 20.6034 29.6935L20.5588 29.7117C20.2648 29.8163 20.0911 29.88 19.9708 29.88C19.7347 29.88 19.65 29.7117 19.503 29.2934L18.1889 25.601H12.9144L11.6002 29.2797C11.48 29.6389 11.3775 29.8754 11.1236 29.8754C10.9944 29.8754 10.834 29.8254 10.5356 29.7072C10.1302 29.5571 9.88516 29.4525 9.88516 29.1933C9.88516 29.0751 9.92971 28.9523 10.0322 28.6613L10.0633 28.5703H10.0589ZM13.4846 23.9776H17.6142L15.7165 18.6574C15.6986 18.6164 15.6808 18.571 15.6719 18.5619C15.6541 18.5619 15.4447 18.5573 15.4135 18.5619C15.4135 18.5664 15.3957 18.6119 15.3779 18.6574L13.4846 23.9776ZM27.4459 28.2657C26.1629 28.2657 25.125 27.9474 24.087 27.2289L24.0157 27.1789C23.8464 27.0607 23.7262 26.9743 23.5925 26.9743C23.3965 26.9743 23.2851 27.1107 23.0401 27.4745L22.9778 27.57C22.7907 27.861 22.706 27.9928 22.706 28.1475C22.706 28.3521 22.8708 28.4658 23.098 28.6204C24.3498 29.5162 25.7353 29.93 27.4459 29.93C30.2702 29.93 32.0299 28.4976 32.0299 26.1876C32.0299 24.114 30.7603 23.0227 27.6464 22.4225C25.1339 21.9314 24.6572 21.3129 24.6572 20.3489C24.6572 19.0893 25.5793 18.4209 27.3212 18.4209C28.3859 18.4209 29.2946 18.7028 30.0208 19.2621L30.0609 19.2894C30.248 19.4213 30.3816 19.5122 30.5331 19.5122C30.7291 19.5122 30.836 19.3531 31.0899 18.9711C31.3349 18.6119 31.3973 18.48 31.3973 18.3345C31.3973 18.1708 31.2592 18.0526 31.0632 17.898C30.0386 17.1204 28.8135 16.743 27.3212 16.743C24.6706 16.743 22.9555 18.1617 22.9555 20.3626C22.9555 22.4407 24.1716 23.4956 27.2944 24.1186C29.5441 24.5779 30.3371 25.1281 30.3371 26.2194C30.3371 27.5745 29.3659 28.2611 27.4459 28.2611M35.616 29.7663C36.4 29.7663 36.4579 29.7117 36.4579 28.9068V25.4737C36.4579 23.4047 36.4579 20.6263 36.4 18.9938L42.454 29.1024L42.4674 29.1251C42.8282 29.739 42.8817 29.7663 43.9241 29.7663C44.9665 29.7663 45.0334 29.7163 45.0334 28.7386V17.7934C45.0334 16.9658 44.9799 16.9067 44.1825 16.9067C43.3851 16.9067 43.3405 16.9658 43.3405 17.7934V20.1261C43.3405 22.4816 43.3495 25.7511 43.4118 27.6382L37.4023 17.5296C37.0459 16.9112 36.988 16.9112 36.0703 16.9112C34.8586 16.9112 34.7651 16.9339 34.7651 17.948V28.9114C34.7651 29.7163 34.8186 29.7708 35.607 29.7708M50.0049 29.7708H56.0634C56.8653 29.7708 56.9232 29.7163 56.9232 28.9296C56.9232 28.1429 56.8653 28.1065 56.0634 28.1065H50.3746V24.1459H55.5066C56.295 24.1459 56.3485 24.0913 56.3485 23.341C56.3485 22.5907 56.295 22.5271 55.5066 22.5271H50.3746V18.5755H56.0278C56.8296 18.5755 56.8875 18.5209 56.8875 17.7343C56.8875 16.9476 56.8296 16.9112 56.0278 16.9112H50.0049C48.7353 16.9112 48.6863 16.9612 48.6863 18.2572V28.4203C48.6863 29.7163 48.7353 29.7663 50.0049 29.7663M67.7438 23.5957C67.7438 22.8363 67.6904 22.7817 66.893 22.7817H61.5784V18.571H67.2404C68.0334 18.571 68.0913 18.5164 68.0913 17.7388C68.0913 16.9612 68.0378 16.9067 67.2404 16.9067H61.2087C59.9391 16.9067 59.8856 16.9567 59.8856 18.2526V28.9705C59.8856 29.7163 59.9391 29.7663 60.7365 29.7663C61.5339 29.7663 61.5784 29.7163 61.5784 28.9705V24.4187H66.893C67.6859 24.4187 67.7438 24.3641 67.7438 23.5957ZM80.088 29.93C82.1372 29.93 83.9414 28.7295 84.6854 26.8742C84.7789 26.6378 84.8413 26.4741 84.8413 26.3558C84.8413 26.1012 84.7076 26.0421 84.2042 25.8284L84.1018 25.7829C83.8657 25.6783 83.7588 25.6328 83.6251 25.6328C83.3667 25.6328 83.2866 25.8465 83.1841 26.1194L83.1618 26.183C82.6852 27.4017 81.3977 28.252 80.0257 28.252C78.07 28.252 76.6445 26.8606 76.4797 24.7916C76.3906 23.8185 76.3906 22.8772 76.4797 21.9086C76.6534 19.8351 78.0745 18.4391 80.0257 18.4391C81.5002 18.4391 82.7742 19.2849 83.193 20.549C83.2732 20.7673 83.3667 20.9628 83.5984 20.9628C83.6919 20.9628 83.8701 20.9037 84.231 20.7764C84.6675 20.6172 84.8324 20.5308 84.8324 20.2716C84.8324 20.1261 84.7522 19.8987 84.7121 19.8078C84.1552 18.0025 82.2486 16.743 80.0836 16.743C77.2548 16.743 74.9695 18.9029 74.769 21.7677C74.6933 22.8908 74.6933 23.8912 74.769 24.9098C74.9829 27.8155 77.2191 29.9254 80.0836 29.9254M88.8728 29.7663H94.8378C95.6397 29.7663 95.6976 29.7117 95.6976 28.9341C95.6976 28.1566 95.6397 28.102 94.8378 28.102H89.2426V17.7024C89.2426 16.9567 89.1891 16.9067 88.3917 16.9067C87.5943 16.9067 87.5498 16.9612 87.5498 17.7115V28.4203C87.5498 29.7163 87.5988 29.7663 88.8684 29.7663M99.2035 29.7663H105.262C106.064 29.7663 106.122 29.7117 106.122 28.925C106.122 28.1384 106.064 28.102 105.262 28.102H99.5732V24.1413H104.705C105.494 24.1413 105.547 24.0868 105.547 23.3365C105.547 22.5862 105.494 22.5225 104.705 22.5225H99.5732V18.571H105.226C106.028 18.571 106.086 18.5164 106.086 17.7297C106.086 16.943 106.028 16.9067 105.226 16.9067H99.2035C97.9339 16.9067 97.8849 16.9567 97.8849 18.2526V28.4157C97.8849 29.7117 97.9339 29.7617 99.2035 29.7617M107.748 29.1797C107.748 29.0614 107.792 28.9387 107.895 28.6477L107.926 28.5567L111.708 18.2481C112.185 16.9339 112.234 16.8976 113.423 16.8976C114.613 16.8976 114.662 16.9339 115.138 18.2299L118.929 28.5885C119.032 28.8705 119.094 29.0478 119.094 29.166C119.094 29.4343 118.916 29.5116 118.47 29.6799L118.426 29.6981C118.132 29.8026 117.958 29.8663 117.838 29.8663C117.602 29.8663 117.517 29.6981 117.37 29.2797L116.056 25.5874H110.781L109.467 29.2661C109.347 29.6253 109.245 29.8618 108.991 29.8618C108.861 29.8618 108.701 29.8117 108.403 29.6935C107.997 29.5435 107.752 29.4389 107.752 29.1797M111.361 23.9685H115.49L113.592 18.6483C113.575 18.6073 113.557 18.5619 113.548 18.5528C113.53 18.5528 113.321 18.5482 113.289 18.5528C113.289 18.5573 113.272 18.6028 113.254 18.6483L111.361 23.9685ZM122.266 29.7617C123.054 29.7617 123.108 29.7072 123.108 28.9023V25.4691C123.108 23.4001 123.108 20.6218 123.05 18.9893L129.104 29.0978L129.117 29.1206C129.478 29.7344 129.532 29.7617 130.574 29.7617C131.616 29.7617 131.683 29.7117 131.683 28.734V17.7888C131.683 16.9612 131.63 16.9021 130.832 16.9021C130.035 16.9021 129.99 16.9612 129.99 17.7888V20.1216C129.99 22.477 129.999 25.7465 130.062 27.6336L124.052 17.5251C123.696 16.9067 123.642 16.9067 122.72 16.9067C121.509 16.9067 121.415 16.9294 121.415 17.9434V28.9068C121.415 29.7117 121.468 29.7663 122.257 29.7663M129.705 35.2912C129.162 35.2912 128.725 35.7368 128.725 36.2916C128.725 36.8463 129.162 37.292 129.705 37.292C130.249 37.292 130.685 36.8463 130.685 36.2916C130.685 35.7368 130.249 35.2912 129.705 35.2912ZM126.458 36.3052C126.467 36.8554 126.912 37.2965 127.451 37.2874C127.99 37.2783 128.422 36.8236 128.418 36.2734C128.409 35.7232 127.964 35.2821 127.425 35.2866C126.881 35.2957 126.453 35.7504 126.458 36.3007M89.0332 45.1951C88.4897 45.1951 88.0532 45.6407 88.0532 46.1955C88.0532 46.7502 88.4897 47.1959 89.0332 47.1959C89.5767 47.1959 90.0133 46.7502 90.0133 46.1955C90.0133 45.6407 89.5767 45.1951 89.0332 45.1951ZM86.7524 45.1951C86.2089 45.2042 85.7768 45.6589 85.7857 46.2091C85.7946 46.7593 86.2401 47.2004 86.7791 47.1959C87.3226 47.1868 87.7502 46.732 87.7458 46.1818C87.7369 45.6316 87.2914 45.1905 86.7524 45.1951ZM28.2923 45.1951C27.7533 45.1951 27.3123 45.6407 27.3123 46.1955C27.3123 46.7502 27.7488 47.1959 28.2923 47.1959C28.8358 47.1959 29.2724 46.7502 29.2724 46.1955C29.2724 45.6407 28.8313 45.1951 28.2923 45.1951ZM26.0115 45.1951C25.4724 45.2042 25.0403 45.6589 25.0448 46.2091C25.0537 46.7593 25.4992 47.2004 26.0382 47.1959C26.5817 47.1868 27.0093 46.732 27.0049 46.1818C26.996 45.6316 26.5505 45.1905 26.0115 45.1951ZM94.3522 36.3007C94.3611 36.8509 94.8066 37.292 95.3456 37.2829C95.8847 37.2738 96.3168 36.8191 96.3123 36.2688C96.3034 35.7186 95.8579 35.2775 95.3189 35.2821C94.7799 35.2912 94.3478 35.7459 94.3567 36.2961M74.5106 37.2783C75.0541 37.2692 75.4818 36.8145 75.4773 36.2643C75.4684 35.7141 75.0229 35.273 74.4839 35.2775C73.9449 35.2866 73.5128 35.7414 73.5217 36.2916C73.5306 36.8418 73.9761 37.2829 74.5151 37.2738M5.46602 39.2837C5.47493 39.8339 5.9204 40.275 6.45943 40.2704C6.99846 40.2613 7.43057 39.8066 7.42612 39.2564C7.41721 38.7062 6.97173 38.2651 6.43271 38.2696C5.89368 38.2787 5.46156 38.7334 5.47047 39.2837M131.692 43.9537L119.66 43.9446C119.379 43.9446 119.121 43.9128 118.871 43.8445C118.47 43.7309 118.127 43.4626 117.958 43.3125C117.909 43.267 117.82 43.1579 117.74 43.1988C117.673 43.2352 117.691 43.3671 117.691 43.4353C117.691 43.7127 117.464 43.94 117.192 43.94H99.101C98.8426 43.94 98.1833 43.8809 97.6087 43.3353C97.5508 43.2807 97.4706 43.2761 97.4127 43.3171C97.3503 43.3625 97.3236 43.4398 97.3547 43.5217C97.3904 43.6217 97.3859 43.7172 97.3325 43.79C97.2701 43.8855 97.1409 43.94 96.9984 43.94H90.3117C89.8574 43.94 89.4163 43.7445 89.1045 43.3989C89.06 43.3489 88.9931 43.3307 88.9263 43.3534C88.8639 43.3762 88.8238 43.4353 88.8238 43.5035C88.8238 43.7491 88.6278 43.9491 88.3873 43.9491L79.7851 43.94C79.0768 43.94 78.6981 43.6763 78.2616 43.3762C78.168 43.308 78.07 43.3262 77.9676 43.4307C77.7448 43.6627 77.3751 43.94 76.8895 43.94L69.401 43.9491C69.009 43.9491 68.6704 43.9582 68.3586 43.9673C68.167 43.9764 67.9755 43.9355 67.8017 43.8582C67.4365 43.6945 67.0934 43.4853 66.7593 43.2125C66.1668 42.7305 65.6189 42.1393 64.9952 41.2844C64.9418 41.2162 64.915 41.1253 64.9195 41.0389C64.9596 40.1431 65.1823 39.3973 65.5877 38.7744C65.8194 38.4288 66.0777 38.1787 66.4475 37.9422C66.4787 37.9195 66.5143 37.9104 66.5544 37.9104C66.5945 37.9104 66.6301 37.924 66.6613 37.9422L67.6859 38.5743C67.7394 38.6061 67.7795 38.6652 67.7839 38.7334C67.7884 38.7971 67.7661 38.8562 67.7216 38.9017C67.3384 39.2791 67.0222 39.7156 66.7861 40.1977C66.5366 40.7115 66.3762 41.2708 66.3272 41.8529C66.3183 41.9529 66.3495 42.0529 66.4163 42.1257C66.4787 42.1984 66.5722 42.2394 66.6702 42.2394H71.4547C71.4547 42.2394 71.4992 42.2439 71.5215 42.2485C71.6061 42.2485 71.6997 42.2576 71.7932 42.2121L71.811 42.203L71.8244 42.1848C71.869 42.103 71.8422 42.0256 71.8244 41.9665C71.8155 41.9483 71.811 41.9302 71.8066 41.912C71.7665 41.58 71.7932 41.2935 71.8912 41.048C72.4347 39.6429 73.2989 38.688 74.5329 38.115C74.7779 38.0013 75.0408 37.924 75.3481 37.874C75.6912 37.8194 76.052 37.8467 76.3906 37.9559C76.8984 38.115 77.3483 38.356 77.7359 38.6789C78.2215 39.0836 78.5556 39.6383 78.7605 40.375C78.7872 40.475 78.8095 40.5751 78.8273 40.6706L78.8496 40.7979C78.8719 40.8888 78.8496 40.948 78.7739 41.0071L77.9631 41.6801C77.8829 41.7483 77.874 41.8756 77.9542 41.9483C78.0611 42.0529 78.2616 42.1712 78.6179 42.2166C79.0545 42.2712 79.451 42.2667 79.8207 42.2667H86.2935C86.7791 42.2667 87.18 41.8665 87.18 41.3663V39.2109C87.1845 39.0927 87.278 38.9972 87.3894 38.9972H88.6011C88.7125 38.9972 88.806 39.0927 88.806 39.2064V41.3527C88.806 41.8529 89.207 42.2621 89.697 42.2621L95.6976 42.2803V39.2064C95.6976 39.0881 95.7911 38.9972 95.9025 38.9972H97.1365C97.2478 38.9972 97.3414 39.0927 97.3414 39.2064V41.3481C97.3414 41.8529 97.7423 42.2621 98.2323 42.2621H106.563C107.053 42.2621 107.454 41.8529 107.454 41.3572V39.2973C107.454 39.1836 107.547 39.0881 107.659 39.0881H108.799C108.91 39.0881 109.004 39.1836 109.004 39.2973V40.325C109.004 40.4023 109.049 40.4659 109.12 40.4796C109.191 40.4978 109.262 40.4659 109.298 40.3977C109.449 40.0976 109.686 39.7748 109.855 39.5701C109.873 39.5519 109.89 39.5338 109.913 39.511C110.278 39.1381 110.799 38.9199 111.352 38.9199H116.991C117.379 38.9199 117.695 39.2427 117.695 39.6383V41.3481C117.695 41.8483 118.096 42.2576 118.586 42.2576L129.986 42.2757H130.053L130.062 39.2018C130.062 39.0836 130.155 38.9926 130.267 38.9926H131.492C131.603 38.9926 131.697 39.0881 131.697 39.2018V43.9491L131.692 43.9537ZM77.139 41.1253C76.8628 40.0249 75.3793 39.2245 74.2879 39.27C73.5083 39.3018 73.0138 39.7293 72.8846 40.475C72.8579 40.957 72.9782 41.3436 73.2455 41.63C73.6286 42.0438 74.3013 42.2439 75.2991 42.2439C75.415 42.2439 75.5308 42.2439 75.6466 42.253C75.7535 42.253 75.856 42.2621 75.9584 42.2621C76.2614 42.2621 76.5465 42.2303 76.787 42.0848C77.0855 41.9029 77.2281 41.5073 77.1345 41.1298M116.212 42.062V42.0393C116.212 41.6619 116.207 41.2844 116.198 40.9116C116.198 40.7297 116.109 40.6888 115.962 40.6842C115.909 40.6842 115.855 40.6842 115.802 40.6842H111.401C111.133 40.6842 110.871 40.7206 110.652 40.757C110.309 40.8115 110.024 40.9661 109.801 41.2117C109.605 41.4345 109.458 41.63 109.343 41.821C109.329 41.8438 109.311 41.8665 109.289 41.8892C109.227 41.9574 109.138 42.0666 109.213 42.1984C109.253 42.2712 109.329 42.2894 109.396 42.2894C109.427 42.2894 109.458 42.2894 109.485 42.2848C109.512 42.2848 109.534 42.2803 109.561 42.2803H115.717C115.82 42.2803 115.918 42.2803 116.025 42.2712C116.127 42.2667 116.207 42.1757 116.207 42.0711M60.1841 39.2791H54.5755C54.4909 39.2791 54.4196 39.2245 54.3973 39.1427C54.375 39.0608 54.4062 38.979 54.4775 38.9335L59.0036 36.0051C59.1194 35.9323 59.1461 35.7777 59.0704 35.6641L58.3175 34.5682C58.2418 34.459 58.0948 34.4317 57.9879 34.5136C57.5424 34.8455 57.088 35.1729 56.647 35.4913L55.511 36.3189C54.7403 36.8782 53.9652 37.442 53.1856 38.0013C52.7624 38.3015 52.5219 38.688 52.4372 39.1927C52.4149 39.3428 52.4149 39.5019 52.4149 39.6565C52.4149 39.8975 52.4149 40.1385 52.4149 40.3795V40.7843C52.4149 40.8434 52.4372 40.9025 52.4818 40.948C52.5218 40.9934 52.5798 41.0162 52.6377 41.0162H59.253C59.4401 41.0162 59.5916 41.1708 59.5916 41.3618V41.9302C59.5916 42.1211 59.4401 42.2803 59.2486 42.2803H40.5875C40.2445 42.2803 39.9683 41.9984 39.9683 41.6528V40.375C39.9683 38.4288 39.9683 35.414 39.9683 33.7724C39.9683 33.6542 39.8747 33.5632 39.7634 33.5632H38.5338C38.418 33.5632 38.3245 33.6587 38.3245 33.7769C38.3245 35.8096 38.3111 39.5156 38.2977 41.3845C38.2977 41.8847 37.8968 42.2894 37.4068 42.2894H27.7488V39.2336C27.7488 39.1154 27.6553 39.0245 27.5439 39.0245H26.3099C26.1986 39.0245 26.105 39.1154 26.105 39.2336C26.105 39.8521 26.1006 40.7388 26.1006 41.389C26.0961 41.8892 25.6952 42.2985 25.2096 42.2985H13.0881C12.7407 42.2985 12.4333 42.2848 12.1482 42.2667C11.7428 42.2394 11.3998 42.1439 11.1102 41.9802C10.8563 41.8347 10.7449 41.6437 10.7449 41.3481C10.7449 40.9389 10.7583 40.234 10.7628 39.8839C10.7628 39.8293 10.7449 39.7748 10.7048 39.7338C10.6647 39.6929 10.6157 39.6702 10.5578 39.6702H9.32831C9.2704 39.6702 9.2214 39.6929 9.1813 39.7338C9.14121 39.7748 9.12339 39.8293 9.12339 39.8839C9.13675 40.375 9.17684 42.0302 9.16348 42.6532C9.14566 43.2489 9.12339 43.8355 9.03429 44.4084C8.98084 44.7722 8.83383 45.1405 8.60663 45.4725C7.92505 46.4819 6.4728 46.7684 5.33237 46.6093C4.84235 46.5411 4.40578 46.4456 3.88012 45.8954C3.05153 45.0314 3.09608 43.549 3.62174 42.6168C3.71975 42.444 3.84002 42.2757 3.96921 42.1302C4.00485 42.0893 4.02267 42.0347 4.01822 41.9802C4.01822 41.9211 3.98703 41.871 3.94249 41.8347C3.70193 41.6346 3.21635 41.43 3.04707 41.2981C3.01143 41.2708 2.96688 41.2572 2.92679 41.2572C2.87333 41.2572 2.81542 41.2799 2.77533 41.3254C2.43231 41.7346 1.98683 42.4122 1.822 43.3398C1.74627 43.7536 1.57254 45.2042 2.45013 46.441C4.0583 48.701 7.43503 47.8507 7.57758 47.8097C8.19679 47.646 8.71355 47.3277 8.72246 47.3277C8.97638 47.1731 9.46641 46.8321 9.90298 46.2364C10.1213 45.9454 10.4286 45.4816 10.5935 44.8177C10.6692 44.5084 10.7048 44.1901 10.7048 43.8809C10.7048 43.7218 10.7048 43.5626 10.7093 43.4035C10.7093 43.3216 10.7093 43.2443 10.7093 43.1625V43.1352C10.7093 43.0897 10.7093 42.9988 10.8073 42.9669H10.8251H10.8429C10.932 42.9851 10.9677 43.0488 10.9989 43.0942C11.0033 43.1033 11.0122 43.117 11.0167 43.1261C11.2929 43.5217 11.6626 43.7718 12.1571 43.89C12.3887 43.9446 12.6248 43.9719 12.8743 43.9673H27.3969C27.5884 43.9719 27.7444 43.8127 27.7444 43.6217C27.7444 43.5672 27.7756 43.5217 27.8246 43.499C27.8691 43.4762 27.9226 43.4853 27.9671 43.5171C28.1587 43.6808 28.5507 43.9582 29.0674 43.9582L38.8546 43.9673H38.9615C39.2956 43.9673 39.5807 43.7763 39.7945 43.5126C39.8614 43.4307 39.9772 43.4171 40.0618 43.4762C40.5385 43.8309 40.9127 43.9719 41.3537 43.9719H59.645C60.4246 43.9673 61.0572 43.3171 61.0572 42.5213V40.1704C61.0572 39.6838 60.6652 39.2882 60.1885 39.2882M170.213 12.5322C173.273 9.99485 177.67 9.50374 181.247 11.6273C178.307 8.38057 177.995 3.56049 180.209 0C177.242 2.93297 172.556 3.60142 168.845 1.32325C171.603 4.4654 172.021 8.95807 170.217 12.5322M178.534 33.7724C178.107 33.5632 177.688 33.3313 177.269 33.0812C173.754 30.9486 173.674 26.6651 176.908 24.0913C177.478 23.6366 178.049 23.1864 178.628 22.7408C181.318 20.6672 181.265 16.5974 179.438 14.6603C177.229 12.3139 174.396 12.8005 171.897 13.8509C169.246 14.965 167.397 16.893 166.096 19.394C164.386 22.6953 163.847 26.324 163.798 29.9982C163.718 36.0142 166.012 40.9207 171.095 44.081C171.714 44.463 172.338 44.8222 172.966 45.1542C173.331 45.3451 173.701 45.4907 174.07 45.6043C174.538 45.7453 175.015 45.8226 175.483 45.8453C178.218 45.9772 180.842 44.2083 181.706 41.4118C181.795 41.1253 181.866 40.8297 181.915 40.5251C181.973 40.1749 182 39.8248 182 39.4792C182.004 37.0873 180.69 34.841 178.53 33.7815M155.187 25.6237C154.821 25.5692 154.438 25.5419 154.055 25.5419C153.944 25.5419 153.832 25.5464 153.717 25.551C154.345 25.4873 154.973 25.4055 155.597 25.31C161.423 24.4051 165.789 21.2902 168.008 15.6516C168.275 14.965 168.52 14.2784 168.734 13.5917C168.858 13.1961 168.939 12.796 168.988 12.4049C169.045 11.9092 169.045 11.4181 168.988 10.9452C168.667 8.16685 166.529 5.82048 163.682 5.40668C163.392 5.36575 163.094 5.34301 162.787 5.34301C162.439 5.34301 162.096 5.3703 161.762 5.42941C159.45 5.81593 157.494 7.5075 156.826 9.85843C156.692 10.3222 156.541 10.7815 156.363 11.2453C155.481 13.5599 153.659 14.774 151.694 14.7831H141.64C139.109 14.7831 137.488 17.5296 138.664 19.8124C140.005 22.3997 142.344 23.8458 144.972 24.7416C147.609 25.6374 150.313 25.8238 153.022 25.6192C150.469 25.9602 147.734 27.5472 146.803 29.8254V45.3588C149.182 45.0314 151.333 44.3902 153.36 43.3034C156.826 41.4527 159.227 38.7062 160.47 35.2093C160.613 34.8137 160.746 34.4181 160.867 34.0225C160.92 33.8452 160.969 33.6678 161.005 33.495C161.107 33.0448 161.156 32.5901 161.156 32.149C161.156 31.7079 161.107 31.2441 161.009 30.8076C160.421 28.1975 158.158 26.0648 155.187 25.6237Z"
                fill="#5F398E"
              />
            </svg>
          </a>
        </div>
        <div class="links-theme" id="sidebar">
          <button id="closeMenu" class="close-btn">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <ul class="nav-links">
            <li><a href="/home">الرئيسية</a></li>
            <li><a href="about-us.html">من نحن</a></li>
            <li id="drop-down-toggle">
              <a href="#"
                >منتجاتنا<i class="fa-solid fa-chevron-down"></i>
                <ul id="drop-down-menu">
                  <li><a href="/services">الخدمات المنزلية</a></li>
                  <li>
                    <a href="/services/building-management"
                      >إدارة المباني السكنيّة والتجاريّة</a
                    >
                  </li>
                  <li><a href="/services/car-washing">غسيل السيارات</a></li>
                </ul>
              </a>
            </li>
            <li><a href="/projects">المشاريع</a></li>
            <li><a href="/offers">عروض حصرية</a></li>
          </ul>
          <div class="themes">
            <button type="button" class="theme-btn">
              <img src="/images/sun-icon.svg" alt="" />
            </button>
            <button type="button" class="theme-btn">
              <img src="/images/moon-icon.svg" alt="" />
            </button>
          </div>
        </div>
        <div class="nav-btn">
          <a href="/contact">تواصل معنا</a>
        </div>
      </div>
    </nav>
    <!-- Our Products -->
    <div class="our-products">
      <div class="container">
        <span>منتجاتنا</span>
        <div class="our-products-btns">
          <a href="/services">
            <img src="/images/home-icon-dark.svg" alt="" />
            الخدمات المنزلية
          </a>
          <a href="/services/building-management">
            <img src="/images/building-icon-white.svg" alt="" />
            إدارة المباني السكنيّة والتجاريّة
          </a>
          <a href="/services/car-washing">
            <img src="/images/car-icon-dark.svg" alt="" />
            غسيل السيارات
          </a>
        </div>
        <p>
          عقود سنويّة بأسعار تنافسيّة، ترتقي بجودة الحياة وتلبّي كافّة
          الاحتياجات للمناطق المشتركة، من خلال تقديم خدمات شاملة ومتكاملة، وحلول
          إداريّة وفنيّة فعّالة واحترافيّة؛ لتعزز الكفاءة التشغيلية للمباني
          السّكنية والتجاريّة وتضمن استدامتها.
        </p>
      </div>
    </div>
    <!-- Features of Building Management -->
    <section class="building-management-features">
      <div class="container">
        <h3>مزايا إدارة المباني السكنيّة والتجاريّة</h3>
        <hr />
        <div class="stars">
          <div class="star">
            <img src="/images/star-icon2.png" alt="" />
          </div>
          <div class="star">
            <img src="/images/star-icon.png" alt="" />
            <p>حلول مستدامة بعقـــــــــود سنويّة</p>
          </div>
          <div class="star">
            <img src="/images/star-icon.png" alt="" />
            <p>
              تقارير شاملة للإصـــــــــــــلاحات  المطلوبة قبل مباشرة الأعمال
            </p>
          </div>
          <div class="star">
            <img src="/images/star-icon.png" alt="" />
            <p>استشــارات متخصّصة لجمعيات اتحاد الملاك</p>
          </div>
          <div class="star">
            <img src="/images/star-icon.png" alt="" />
            <p>تعيين مشرف تشغيل ومراقــــــــــــــــــــــب للجودة</p>
          </div>
          <div class="star">
            <img src="/images/star-icon.png" alt="" />
            <p>تعيين مديــــــــر خاص للمشروع</p>
          </div>
          <div class="star">
            <img src="/images/star-icon.png" alt="" />
            <p>خصومات مجزية  لخدمـات الصيانــة</p>
          </div>
          <div class="star">
            <img src="/images/star-icon2.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- Cleaning Services -->
    <section class="cleaning-services">
      <div class="container">
        <h3>خدمات النظافة</h3>
        <!-- Deep Cleaning -->
        <div class="deep-cleaning">
          <div class="content">
            <h5>النظافة العميقة</h5>
            <ul>
              <li>الخزّانات الأرضيّة والعلويّة</li>
              <li>الأسطح المشتركة</li>
              <li>غرف التفتيش</li>
              <li>المنازل</li>
              <li>نوافذ السّور الأرضي</li>
              <li>سيراميك المناطق المشتركة</li>
            </ul>
            <button type="button" class="btn">اطلب الآن</button>
          </div>
          <div class="image">
            <img src="/images/spray.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- Surface Cleaning -->
    <section class="surface-cleaning">
      <div class="container">
        <div class="image">
          <img src="/images/clean-leaves-2.png" alt="" />
        </div>
        <div class="surface-cleaning-info">
          <h3>النّظافة السطحية</h3>
          <ul>
            <li>الأرصفة الخارجيّة</li>
            <li>الممرّات الخارجيّة والداخليّة</li>
            <li>الأحواض الزراعيّة</li>
            <li>أسطح الإضاءات</li>
          </ul>
          <button type="button" class="btn">اطلب الآن</button>
        </div>
      </div>
    </section>
    <!-- Maintenance Services -->
    <section class="maintenance-services">
      <div class="container">
        <div class="image">
          <img src="/images/clean-table-zoom.png" alt="" />
        </div>
        <div class="maintenance-info">
          <h3>خدمات الصيانة</h3>
          <ul>
            <li>أجهزة التكييف.</li>
            <li>أجهزة الدخول الإلكتروني</li>
            <li>المصاعد الكهربائيّة</li>
            <li>الإضاءات</li>
            <li>رش المبيدات الحشرية</li>
            <li>أنظمة السباكة والمضخّات (الدينمو)</li>
            <li>الكاميرات الداخليّة والخارجيّة</li>
            <li>أبواب المباني الخارجيّة</li>
            <li>تمديدات أعمال الرّي والزّراعة</li>
            <li>خدمات الصيانة الطارئة (على مدار الساعة)</li>
          </ul>
          <button type="button" class="btn">اطلب الآن</button>
        </div>
      </div>
    </section>
    <!-- shared Area Services -->
    <section class="shared-area-services">
      <div class="container">
        <div class="shared-area-info">
          <h3>خدمات المناطق المشتركة</h3>
          <ul>
            <li>متابعة فواتير الكهرباء والمياه للمناطق المشتركة.</li>
            <li>مراقبة دورية لمستويات مياه الخزّانات الأرضيّة والعلويّة.</li>
            <li>توفير صهريج مياه (وايت) وشاحنة سحب الصّرف الصّحي.</li>
            <li>
              إحياء المناطق الزراعية غير المستغلّة، ومتابعة أعمال البستنة.
            </li>
          </ul>
          <button type="button" class="btn">اطلب الآن</button>
        </div>
        <div class="image">
          <img src="/images/clean-table-zoom-2.png" alt="" />
        </div>
      </div>
    </section>
    <!-- Homeowners Association Services -->
    <section class="homeowners-association-services">
      <div class="container">
        <div class="image">
          <img src="/images/spray-zoom-2.png" alt="" />
        </div>
        <div class="homeowners-association-info">
          <h3>خدمات جمعيّة الملاك</h3>
          <ul>
            <li>إتمام إجراءات تأسيس "جمعية ملاك" عبر منصة "ملاك".</li>
            <li>إدارة عملية تعيين رئيس للجمعية.</li>
            <li>إنشاء وتفعيل حساب مصرفي باسم الجمعية.</li>
            <li>تقديم الاستشارات القانونية المتعلقة بالجمعية.</li>
            <li>إعداد "النظام الأساسي الاسترشادي" للجمعية.</li>
            <li>شرح ومتابعة خطوات إنشاء حساب بمنصة "ملاك".</li>
            <li>
              فتح ملف منشأة لدى وزارة الموارد البشرية لنشاط جمعية اتحاد العقار
              للملكية المشتركة.
            </li>
          </ul>
          <button type="button" class="btn">اطلب الآن</button>
        </div>
      </div>
    </section>
    <!-- Frequently Asked Questions -->
    <section class="frequently-questions">
      <div class="container">
        <h3>الأسئلة الشائعة</h3>
        <div class="questions">
          <div class="questions-right">
            <div class="question">
              <span>ما هي الصيانة الدورية وخدمات صيانة الطوارئ؟</span>
              <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question">
              <span>ما هي الصيانة الدورية وخدمات صيانة الطوارئ؟</span>
              <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question">
              <span>ما هي الصيانة الدورية وخدمات صيانة الطوارئ؟</span>
              <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question">
              <span>ما هي الصيانة الدورية وخدمات صيانة الطوارئ؟</span>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
          <div class="questions-left">
            <div class="question">
              <span>ما هي الصيانة الدورية وخدمات صيانة الطوارئ؟</span>
              <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question">
              <span>ما هي الصيانة الدورية وخدمات صيانة الطوارئ؟</span>
              <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question">
              <span>ما هي الصيانة الدورية وخدمات صيانة الطوارئ؟</span>
              <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question">
              <span>ما هي الصيانة الدورية وخدمات صيانة الطوارئ؟</span>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <!-- Social media Links -->
        <div class="social-media">
          <div class="linkedin">
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
          <div class="x">
            <a href="#">
              <svg
                fill="#492a70"
                width="32"
                height="32"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
                />
              </svg>
            </a>
          </div>
          <div class="facebook">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </div>
          <div class="instagram">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </div>
          <div class="snapchat">
            <a href="#">
              <svg
                height="32"
                width="32"
                fill="#492a70"
                viewBox="1.98944755 .3641436 20.02369289 22.52376706"
                width="2035"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m21.798 16.987c-2.867-.472-4.151-3.401-4.204-3.526l-.006-.011a1.07 1.07 0 0 1 -.102-.898c.192-.454.83-.656 1.251-.79.106-.033.205-.065.283-.096.763-.3.918-.613.914-.822a.662.662 0 0 0 -.5-.543l-.007-.002a.946.946 0 0 0 -.356-.069.755.755 0 0 0 -.313.063 2.54 2.54 0 0 1 -.955.266.821.821 0 0 1 -.53-.178l.032-.53.004-.065a10.102 10.102 0 0 0 -.24-4.035 5.248 5.248 0 0 0 -4.874-3.14l-.402.005a5.24 5.24 0 0 0 -4.864 3.137 10.09 10.09 0 0 0 -.242 4.031q.02.299.036.598a.848.848 0 0 1 -.584.178 2.453 2.453 0 0 1 -1.014-.268.575.575 0 0 0 -.245-.049.834.834 0 0 0 -.81.533c-.082.43.532.743.906.89.08.032.178.063.283.096.422.134 1.06.336 1.252.79a1.072 1.072 0 0 1 -.102.898l-.006.011a7.028 7.028 0 0 1 -1.069 1.663 5.215 5.215 0 0 1 -3.134 1.863.24.24 0 0 0 -.2.25.38.38 0 0 0 .03.13c.177.411 1.059.75 2.553.981.14.022.198.25.28.622.032.15.066.305.113.465a.293.293 0 0 0 .32.228 2.485 2.485 0 0 0 .424-.06 5.53 5.53 0 0 1 1.12-.127 4.954 4.954 0 0 1 .809.068 3.877 3.877 0 0 1 1.535.784 4.443 4.443 0 0 0 2.69 1.06c.033 0 .067-.001.1-.004.04.002.095.004.151.004a4.448 4.448 0 0 0 2.692-1.06 3.873 3.873 0 0 1 1.533-.784 4.973 4.973 0 0 1 .808-.068 5.593 5.593 0 0 1 1.12.119 2.391 2.391 0 0 0 .425.053h.024a.279.279 0 0 0 .295-.22 6.52 6.52 0 0 0 .114-.462c.081-.371.14-.598.28-.62 1.494-.23 2.377-.57 2.551-.978a.385.385 0 0 0 .032-.13.24.24 0 0 0 -.2-.25z"
                />
              </svg>
            </a>
          </div>
          <div class="youtube">
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
        <!-- Company Info -->
        <div class="company-info">
          <div class="company-definition">
            <div class="logo">
              <svg
                width="207"
                height="48"
                viewBox="0 0 182 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.23204 18.5755H0.877592C0.0579127 18.5755 0 18.5209 0 17.7434C0 16.9658 0.0579127 16.9112 0.877592 16.9112H9.23922C10.0411 16.9112 10.099 16.9658 10.099 17.7434C10.099 18.5209 10.0411 18.5755 9.23922 18.5755H5.9115V28.966C5.9115 29.7163 5.85804 29.7708 5.06954 29.7708C4.28105 29.7708 4.22759 29.7208 4.22759 28.9751V18.5755H4.23204ZM10.0589 28.5703L13.841 18.2617C14.3177 16.9476 14.3667 16.9112 15.5561 16.9112C16.7455 16.9112 16.7945 16.9476 17.2712 18.2436L21.0622 28.6022C21.1647 28.8841 21.227 29.0614 21.227 29.1797C21.227 29.448 21.0444 29.5253 20.6034 29.6935L20.5588 29.7117C20.2648 29.8163 20.0911 29.88 19.9708 29.88C19.7347 29.88 19.65 29.7117 19.503 29.2934L18.1889 25.601H12.9144L11.6002 29.2797C11.48 29.6389 11.3775 29.8754 11.1236 29.8754C10.9944 29.8754 10.834 29.8254 10.5356 29.7072C10.1302 29.5571 9.88516 29.4525 9.88516 29.1933C9.88516 29.0751 9.92971 28.9523 10.0322 28.6613L10.0633 28.5703H10.0589ZM13.4846 23.9776H17.6142L15.7165 18.6574C15.6986 18.6164 15.6808 18.571 15.6719 18.5619C15.6541 18.5619 15.4447 18.5573 15.4135 18.5619C15.4135 18.5664 15.3957 18.6119 15.3779 18.6574L13.4846 23.9776ZM27.4459 28.2657C26.1629 28.2657 25.125 27.9474 24.087 27.2289L24.0157 27.1789C23.8464 27.0607 23.7262 26.9743 23.5925 26.9743C23.3965 26.9743 23.2851 27.1107 23.0401 27.4745L22.9778 27.57C22.7907 27.861 22.706 27.9928 22.706 28.1475C22.706 28.3521 22.8708 28.4658 23.098 28.6204C24.3498 29.5162 25.7353 29.93 27.4459 29.93C30.2702 29.93 32.0299 28.4976 32.0299 26.1876C32.0299 24.114 30.7603 23.0227 27.6464 22.4225C25.1339 21.9314 24.6572 21.3129 24.6572 20.3489C24.6572 19.0893 25.5793 18.4209 27.3212 18.4209C28.3859 18.4209 29.2946 18.7028 30.0208 19.2621L30.0609 19.2894C30.248 19.4213 30.3816 19.5122 30.5331 19.5122C30.7291 19.5122 30.836 19.3531 31.0899 18.9711C31.3349 18.6119 31.3973 18.48 31.3973 18.3345C31.3973 18.1708 31.2592 18.0526 31.0632 17.898C30.0386 17.1204 28.8135 16.743 27.3212 16.743C24.6706 16.743 22.9555 18.1617 22.9555 20.3626C22.9555 22.4407 24.1716 23.4956 27.2944 24.1186C29.5441 24.5779 30.3371 25.1281 30.3371 26.2194C30.3371 27.5745 29.3659 28.2611 27.4459 28.2611M35.616 29.7663C36.4 29.7663 36.4579 29.7117 36.4579 28.9068V25.4737C36.4579 23.4047 36.4579 20.6263 36.4 18.9938L42.454 29.1024L42.4674 29.1251C42.8282 29.739 42.8817 29.7663 43.9241 29.7663C44.9665 29.7663 45.0334 29.7163 45.0334 28.7386V17.7934C45.0334 16.9658 44.9799 16.9067 44.1825 16.9067C43.3851 16.9067 43.3405 16.9658 43.3405 17.7934V20.1261C43.3405 22.4816 43.3495 25.7511 43.4118 27.6382L37.4023 17.5296C37.0459 16.9112 36.988 16.9112 36.0703 16.9112C34.8586 16.9112 34.7651 16.9339 34.7651 17.948V28.9114C34.7651 29.7163 34.8186 29.7708 35.607 29.7708M50.0049 29.7708H56.0634C56.8653 29.7708 56.9232 29.7163 56.9232 28.9296C56.9232 28.1429 56.8653 28.1065 56.0634 28.1065H50.3746V24.1459H55.5066C56.295 24.1459 56.3485 24.0913 56.3485 23.341C56.3485 22.5907 56.295 22.5271 55.5066 22.5271H50.3746V18.5755H56.0278C56.8296 18.5755 56.8875 18.5209 56.8875 17.7343C56.8875 16.9476 56.8296 16.9112 56.0278 16.9112H50.0049C48.7353 16.9112 48.6863 16.9612 48.6863 18.2572V28.4203C48.6863 29.7163 48.7353 29.7663 50.0049 29.7663M67.7438 23.5957C67.7438 22.8363 67.6904 22.7817 66.893 22.7817H61.5784V18.571H67.2404C68.0334 18.571 68.0913 18.5164 68.0913 17.7388C68.0913 16.9612 68.0378 16.9067 67.2404 16.9067H61.2087C59.9391 16.9067 59.8856 16.9567 59.8856 18.2526V28.9705C59.8856 29.7163 59.9391 29.7663 60.7365 29.7663C61.5339 29.7663 61.5784 29.7163 61.5784 28.9705V24.4187H66.893C67.6859 24.4187 67.7438 24.3641 67.7438 23.5957ZM80.088 29.93C82.1372 29.93 83.9414 28.7295 84.6854 26.8742C84.7789 26.6378 84.8413 26.4741 84.8413 26.3558C84.8413 26.1012 84.7076 26.0421 84.2042 25.8284L84.1018 25.7829C83.8657 25.6783 83.7588 25.6328 83.6251 25.6328C83.3667 25.6328 83.2866 25.8465 83.1841 26.1194L83.1618 26.183C82.6852 27.4017 81.3977 28.252 80.0257 28.252C78.07 28.252 76.6445 26.8606 76.4797 24.7916C76.3906 23.8185 76.3906 22.8772 76.4797 21.9086C76.6534 19.8351 78.0745 18.4391 80.0257 18.4391C81.5002 18.4391 82.7742 19.2849 83.193 20.549C83.2732 20.7673 83.3667 20.9628 83.5984 20.9628C83.6919 20.9628 83.8701 20.9037 84.231 20.7764C84.6675 20.6172 84.8324 20.5308 84.8324 20.2716C84.8324 20.1261 84.7522 19.8987 84.7121 19.8078C84.1552 18.0025 82.2486 16.743 80.0836 16.743C77.2548 16.743 74.9695 18.9029 74.769 21.7677C74.6933 22.8908 74.6933 23.8912 74.769 24.9098C74.9829 27.8155 77.2191 29.9254 80.0836 29.9254M88.8728 29.7663H94.8378C95.6397 29.7663 95.6976 29.7117 95.6976 28.9341C95.6976 28.1566 95.6397 28.102 94.8378 28.102H89.2426V17.7024C89.2426 16.9567 89.1891 16.9067 88.3917 16.9067C87.5943 16.9067 87.5498 16.9612 87.5498 17.7115V28.4203C87.5498 29.7163 87.5988 29.7663 88.8684 29.7663M99.2035 29.7663H105.262C106.064 29.7663 106.122 29.7117 106.122 28.925C106.122 28.1384 106.064 28.102 105.262 28.102H99.5732V24.1413H104.705C105.494 24.1413 105.547 24.0868 105.547 23.3365C105.547 22.5862 105.494 22.5225 104.705 22.5225H99.5732V18.571H105.226C106.028 18.571 106.086 18.5164 106.086 17.7297C106.086 16.943 106.028 16.9067 105.226 16.9067H99.2035C97.9339 16.9067 97.8849 16.9567 97.8849 18.2526V28.4157C97.8849 29.7117 97.9339 29.7617 99.2035 29.7617M107.748 29.1797C107.748 29.0614 107.792 28.9387 107.895 28.6477L107.926 28.5567L111.708 18.2481C112.185 16.9339 112.234 16.8976 113.423 16.8976C114.613 16.8976 114.662 16.9339 115.138 18.2299L118.929 28.5885C119.032 28.8705 119.094 29.0478 119.094 29.166C119.094 29.4343 118.916 29.5116 118.47 29.6799L118.426 29.6981C118.132 29.8026 117.958 29.8663 117.838 29.8663C117.602 29.8663 117.517 29.6981 117.37 29.2797L116.056 25.5874H110.781L109.467 29.2661C109.347 29.6253 109.245 29.8618 108.991 29.8618C108.861 29.8618 108.701 29.8117 108.403 29.6935C107.997 29.5435 107.752 29.4389 107.752 29.1797M111.361 23.9685H115.49L113.592 18.6483C113.575 18.6073 113.557 18.5619 113.548 18.5528C113.53 18.5528 113.321 18.5482 113.289 18.5528C113.289 18.5573 113.272 18.6028 113.254 18.6483L111.361 23.9685ZM122.266 29.7617C123.054 29.7617 123.108 29.7072 123.108 28.9023V25.4691C123.108 23.4001 123.108 20.6218 123.05 18.9893L129.104 29.0978L129.117 29.1206C129.478 29.7344 129.532 29.7617 130.574 29.7617C131.616 29.7617 131.683 29.7117 131.683 28.734V17.7888C131.683 16.9612 131.63 16.9021 130.832 16.9021C130.035 16.9021 129.99 16.9612 129.99 17.7888V20.1216C129.99 22.477 129.999 25.7465 130.062 27.6336L124.052 17.5251C123.696 16.9067 123.642 16.9067 122.72 16.9067C121.509 16.9067 121.415 16.9294 121.415 17.9434V28.9068C121.415 29.7117 121.468 29.7663 122.257 29.7663M129.705 35.2912C129.162 35.2912 128.725 35.7368 128.725 36.2916C128.725 36.8463 129.162 37.292 129.705 37.292C130.249 37.292 130.685 36.8463 130.685 36.2916C130.685 35.7368 130.249 35.2912 129.705 35.2912ZM126.458 36.3052C126.467 36.8554 126.912 37.2965 127.451 37.2874C127.99 37.2783 128.422 36.8236 128.418 36.2734C128.409 35.7232 127.964 35.2821 127.425 35.2866C126.881 35.2957 126.453 35.7504 126.458 36.3007M89.0332 45.1951C88.4897 45.1951 88.0532 45.6407 88.0532 46.1955C88.0532 46.7502 88.4897 47.1959 89.0332 47.1959C89.5767 47.1959 90.0133 46.7502 90.0133 46.1955C90.0133 45.6407 89.5767 45.1951 89.0332 45.1951ZM86.7524 45.1951C86.2089 45.2042 85.7768 45.6589 85.7857 46.2091C85.7946 46.7593 86.2401 47.2004 86.7791 47.1959C87.3226 47.1868 87.7502 46.732 87.7458 46.1818C87.7369 45.6316 87.2914 45.1905 86.7524 45.1951ZM28.2923 45.1951C27.7533 45.1951 27.3123 45.6407 27.3123 46.1955C27.3123 46.7502 27.7488 47.1959 28.2923 47.1959C28.8358 47.1959 29.2724 46.7502 29.2724 46.1955C29.2724 45.6407 28.8313 45.1951 28.2923 45.1951ZM26.0115 45.1951C25.4724 45.2042 25.0403 45.6589 25.0448 46.2091C25.0537 46.7593 25.4992 47.2004 26.0382 47.1959C26.5817 47.1868 27.0093 46.732 27.0049 46.1818C26.996 45.6316 26.5505 45.1905 26.0115 45.1951ZM94.3522 36.3007C94.3611 36.8509 94.8066 37.292 95.3456 37.2829C95.8847 37.2738 96.3168 36.8191 96.3123 36.2688C96.3034 35.7186 95.8579 35.2775 95.3189 35.2821C94.7799 35.2912 94.3478 35.7459 94.3567 36.2961M74.5106 37.2783C75.0541 37.2692 75.4818 36.8145 75.4773 36.2643C75.4684 35.7141 75.0229 35.273 74.4839 35.2775C73.9449 35.2866 73.5128 35.7414 73.5217 36.2916C73.5306 36.8418 73.9761 37.2829 74.5151 37.2738M5.46602 39.2837C5.47493 39.8339 5.9204 40.275 6.45943 40.2704C6.99846 40.2613 7.43057 39.8066 7.42612 39.2564C7.41721 38.7062 6.97173 38.2651 6.43271 38.2696C5.89368 38.2787 5.46156 38.7334 5.47047 39.2837M131.692 43.9537L119.66 43.9446C119.379 43.9446 119.121 43.9128 118.871 43.8445C118.47 43.7309 118.127 43.4626 117.958 43.3125C117.909 43.267 117.82 43.1579 117.74 43.1988C117.673 43.2352 117.691 43.3671 117.691 43.4353C117.691 43.7127 117.464 43.94 117.192 43.94H99.101C98.8426 43.94 98.1833 43.8809 97.6087 43.3353C97.5508 43.2807 97.4706 43.2761 97.4127 43.3171C97.3503 43.3625 97.3236 43.4398 97.3547 43.5217C97.3904 43.6217 97.3859 43.7172 97.3325 43.79C97.2701 43.8855 97.1409 43.94 96.9984 43.94H90.3117C89.8574 43.94 89.4163 43.7445 89.1045 43.3989C89.06 43.3489 88.9931 43.3307 88.9263 43.3534C88.8639 43.3762 88.8238 43.4353 88.8238 43.5035C88.8238 43.7491 88.6278 43.9491 88.3873 43.9491L79.7851 43.94C79.0768 43.94 78.6981 43.6763 78.2616 43.3762C78.168 43.308 78.07 43.3262 77.9676 43.4307C77.7448 43.6627 77.3751 43.94 76.8895 43.94L69.401 43.9491C69.009 43.9491 68.6704 43.9582 68.3586 43.9673C68.167 43.9764 67.9755 43.9355 67.8017 43.8582C67.4365 43.6945 67.0934 43.4853 66.7593 43.2125C66.1668 42.7305 65.6189 42.1393 64.9952 41.2844C64.9418 41.2162 64.915 41.1253 64.9195 41.0389C64.9596 40.1431 65.1823 39.3973 65.5877 38.7744C65.8194 38.4288 66.0777 38.1787 66.4475 37.9422C66.4787 37.9195 66.5143 37.9104 66.5544 37.9104C66.5945 37.9104 66.6301 37.924 66.6613 37.9422L67.6859 38.5743C67.7394 38.6061 67.7795 38.6652 67.7839 38.7334C67.7884 38.7971 67.7661 38.8562 67.7216 38.9017C67.3384 39.2791 67.0222 39.7156 66.7861 40.1977C66.5366 40.7115 66.3762 41.2708 66.3272 41.8529C66.3183 41.9529 66.3495 42.0529 66.4163 42.1257C66.4787 42.1984 66.5722 42.2394 66.6702 42.2394H71.4547C71.4547 42.2394 71.4992 42.2439 71.5215 42.2485C71.6061 42.2485 71.6997 42.2576 71.7932 42.2121L71.811 42.203L71.8244 42.1848C71.869 42.103 71.8422 42.0256 71.8244 41.9665C71.8155 41.9483 71.811 41.9302 71.8066 41.912C71.7665 41.58 71.7932 41.2935 71.8912 41.048C72.4347 39.6429 73.2989 38.688 74.5329 38.115C74.7779 38.0013 75.0408 37.924 75.3481 37.874C75.6912 37.8194 76.052 37.8467 76.3906 37.9559C76.8984 38.115 77.3483 38.356 77.7359 38.6789C78.2215 39.0836 78.5556 39.6383 78.7605 40.375C78.7872 40.475 78.8095 40.5751 78.8273 40.6706L78.8496 40.7979C78.8719 40.8888 78.8496 40.948 78.7739 41.0071L77.9631 41.6801C77.8829 41.7483 77.874 41.8756 77.9542 41.9483C78.0611 42.0529 78.2616 42.1712 78.6179 42.2166C79.0545 42.2712 79.451 42.2667 79.8207 42.2667H86.2935C86.7791 42.2667 87.18 41.8665 87.18 41.3663V39.2109C87.1845 39.0927 87.278 38.9972 87.3894 38.9972H88.6011C88.7125 38.9972 88.806 39.0927 88.806 39.2064V41.3527C88.806 41.8529 89.207 42.2621 89.697 42.2621L95.6976 42.2803V39.2064C95.6976 39.0881 95.7911 38.9972 95.9025 38.9972H97.1365C97.2478 38.9972 97.3414 39.0927 97.3414 39.2064V41.3481C97.3414 41.8529 97.7423 42.2621 98.2323 42.2621H106.563C107.053 42.2621 107.454 41.8529 107.454 41.3572V39.2973C107.454 39.1836 107.547 39.0881 107.659 39.0881H108.799C108.91 39.0881 109.004 39.1836 109.004 39.2973V40.325C109.004 40.4023 109.049 40.4659 109.12 40.4796C109.191 40.4978 109.262 40.4659 109.298 40.3977C109.449 40.0976 109.686 39.7748 109.855 39.5701C109.873 39.5519 109.89 39.5338 109.913 39.511C110.278 39.1381 110.799 38.9199 111.352 38.9199H116.991C117.379 38.9199 117.695 39.2427 117.695 39.6383V41.3481C117.695 41.8483 118.096 42.2576 118.586 42.2576L129.986 42.2757H130.053L130.062 39.2018C130.062 39.0836 130.155 38.9926 130.267 38.9926H131.492C131.603 38.9926 131.697 39.0881 131.697 39.2018V43.9491L131.692 43.9537ZM77.139 41.1253C76.8628 40.0249 75.3793 39.2245 74.2879 39.27C73.5083 39.3018 73.0138 39.7293 72.8846 40.475C72.8579 40.957 72.9782 41.3436 73.2455 41.63C73.6286 42.0438 74.3013 42.2439 75.2991 42.2439C75.415 42.2439 75.5308 42.2439 75.6466 42.253C75.7535 42.253 75.856 42.2621 75.9584 42.2621C76.2614 42.2621 76.5465 42.2303 76.787 42.0848C77.0855 41.9029 77.2281 41.5073 77.1345 41.1298M116.212 42.062V42.0393C116.212 41.6619 116.207 41.2844 116.198 40.9116C116.198 40.7297 116.109 40.6888 115.962 40.6842C115.909 40.6842 115.855 40.6842 115.802 40.6842H111.401C111.133 40.6842 110.871 40.7206 110.652 40.757C110.309 40.8115 110.024 40.9661 109.801 41.2117C109.605 41.4345 109.458 41.63 109.343 41.821C109.329 41.8438 109.311 41.8665 109.289 41.8892C109.227 41.9574 109.138 42.0666 109.213 42.1984C109.253 42.2712 109.329 42.2894 109.396 42.2894C109.427 42.2894 109.458 42.2894 109.485 42.2848C109.512 42.2848 109.534 42.2803 109.561 42.2803H115.717C115.82 42.2803 115.918 42.2803 116.025 42.2712C116.127 42.2667 116.207 42.1757 116.207 42.0711M60.1841 39.2791H54.5755C54.4909 39.2791 54.4196 39.2245 54.3973 39.1427C54.375 39.0608 54.4062 38.979 54.4775 38.9335L59.0036 36.0051C59.1194 35.9323 59.1461 35.7777 59.0704 35.6641L58.3175 34.5682C58.2418 34.459 58.0948 34.4317 57.9879 34.5136C57.5424 34.8455 57.088 35.1729 56.647 35.4913L55.511 36.3189C54.7403 36.8782 53.9652 37.442 53.1856 38.0013C52.7624 38.3015 52.5219 38.688 52.4372 39.1927C52.4149 39.3428 52.4149 39.5019 52.4149 39.6565C52.4149 39.8975 52.4149 40.1385 52.4149 40.3795V40.7843C52.4149 40.8434 52.4372 40.9025 52.4818 40.948C52.5218 40.9934 52.5798 41.0162 52.6377 41.0162H59.253C59.4401 41.0162 59.5916 41.1708 59.5916 41.3618V41.9302C59.5916 42.1211 59.4401 42.2803 59.2486 42.2803H40.5875C40.2445 42.2803 39.9683 41.9984 39.9683 41.6528V40.375C39.9683 38.4288 39.9683 35.414 39.9683 33.7724C39.9683 33.6542 39.8747 33.5632 39.7634 33.5632H38.5338C38.418 33.5632 38.3245 33.6587 38.3245 33.7769C38.3245 35.8096 38.3111 39.5156 38.2977 41.3845C38.2977 41.8847 37.8968 42.2894 37.4068 42.2894H27.7488V39.2336C27.7488 39.1154 27.6553 39.0245 27.5439 39.0245H26.3099C26.1986 39.0245 26.105 39.1154 26.105 39.2336C26.105 39.8521 26.1006 40.7388 26.1006 41.389C26.0961 41.8892 25.6952 42.2985 25.2096 42.2985H13.0881C12.7407 42.2985 12.4333 42.2848 12.1482 42.2667C11.7428 42.2394 11.3998 42.1439 11.1102 41.9802C10.8563 41.8347 10.7449 41.6437 10.7449 41.3481C10.7449 40.9389 10.7583 40.234 10.7628 39.8839C10.7628 39.8293 10.7449 39.7748 10.7048 39.7338C10.6647 39.6929 10.6157 39.6702 10.5578 39.6702H9.32831C9.2704 39.6702 9.2214 39.6929 9.1813 39.7338C9.14121 39.7748 9.12339 39.8293 9.12339 39.8839C9.13675 40.375 9.17684 42.0302 9.16348 42.6532C9.14566 43.2489 9.12339 43.8355 9.03429 44.4084C8.98084 44.7722 8.83383 45.1405 8.60663 45.4725C7.92505 46.4819 6.4728 46.7684 5.33237 46.6093C4.84235 46.5411 4.40578 46.4456 3.88012 45.8954C3.05153 45.0314 3.09608 43.549 3.62174 42.6168C3.71975 42.444 3.84002 42.2757 3.96921 42.1302C4.00485 42.0893 4.02267 42.0347 4.01822 41.9802C4.01822 41.9211 3.98703 41.871 3.94249 41.8347C3.70193 41.6346 3.21635 41.43 3.04707 41.2981C3.01143 41.2708 2.96688 41.2572 2.92679 41.2572C2.87333 41.2572 2.81542 41.2799 2.77533 41.3254C2.43231 41.7346 1.98683 42.4122 1.822 43.3398C1.74627 43.7536 1.57254 45.2042 2.45013 46.441C4.0583 48.701 7.43503 47.8507 7.57758 47.8097C8.19679 47.646 8.71355 47.3277 8.72246 47.3277C8.97638 47.1731 9.46641 46.8321 9.90298 46.2364C10.1213 45.9454 10.4286 45.4816 10.5935 44.8177C10.6692 44.5084 10.7048 44.1901 10.7048 43.8809C10.7048 43.7218 10.7048 43.5626 10.7093 43.4035C10.7093 43.3216 10.7093 43.2443 10.7093 43.1625V43.1352C10.7093 43.0897 10.7093 42.9988 10.8073 42.9669H10.8251H10.8429C10.932 42.9851 10.9677 43.0488 10.9989 43.0942C11.0033 43.1033 11.0122 43.117 11.0167 43.1261C11.2929 43.5217 11.6626 43.7718 12.1571 43.89C12.3887 43.9446 12.6248 43.9719 12.8743 43.9673H27.3969C27.5884 43.9719 27.7444 43.8127 27.7444 43.6217C27.7444 43.5672 27.7756 43.5217 27.8246 43.499C27.8691 43.4762 27.9226 43.4853 27.9671 43.5171C28.1587 43.6808 28.5507 43.9582 29.0674 43.9582L38.8546 43.9673H38.9615C39.2956 43.9673 39.5807 43.7763 39.7945 43.5126C39.8614 43.4307 39.9772 43.4171 40.0618 43.4762C40.5385 43.8309 40.9127 43.9719 41.3537 43.9719H59.645C60.4246 43.9673 61.0572 43.3171 61.0572 42.5213V40.1704C61.0572 39.6838 60.6652 39.2882 60.1885 39.2882M170.213 12.5322C173.273 9.99485 177.67 9.50374 181.247 11.6273C178.307 8.38057 177.995 3.56049 180.209 0C177.242 2.93297 172.556 3.60142 168.845 1.32325C171.603 4.4654 172.021 8.95807 170.217 12.5322M178.534 33.7724C178.107 33.5632 177.688 33.3313 177.269 33.0812C173.754 30.9486 173.674 26.6651 176.908 24.0913C177.478 23.6366 178.049 23.1864 178.628 22.7408C181.318 20.6672 181.265 16.5974 179.438 14.6603C177.229 12.3139 174.396 12.8005 171.897 13.8509C169.246 14.965 167.397 16.893 166.096 19.394C164.386 22.6953 163.847 26.324 163.798 29.9982C163.718 36.0142 166.012 40.9207 171.095 44.081C171.714 44.463 172.338 44.8222 172.966 45.1542C173.331 45.3451 173.701 45.4907 174.07 45.6043C174.538 45.7453 175.015 45.8226 175.483 45.8453C178.218 45.9772 180.842 44.2083 181.706 41.4118C181.795 41.1253 181.866 40.8297 181.915 40.5251C181.973 40.1749 182 39.8248 182 39.4792C182.004 37.0873 180.69 34.841 178.53 33.7815M155.187 25.6237C154.821 25.5692 154.438 25.5419 154.055 25.5419C153.944 25.5419 153.832 25.5464 153.717 25.551C154.345 25.4873 154.973 25.4055 155.597 25.31C161.423 24.4051 165.789 21.2902 168.008 15.6516C168.275 14.965 168.52 14.2784 168.734 13.5917C168.858 13.1961 168.939 12.796 168.988 12.4049C169.045 11.9092 169.045 11.4181 168.988 10.9452C168.667 8.16685 166.529 5.82048 163.682 5.40668C163.392 5.36575 163.094 5.34301 162.787 5.34301C162.439 5.34301 162.096 5.3703 161.762 5.42941C159.45 5.81593 157.494 7.5075 156.826 9.85843C156.692 10.3222 156.541 10.7815 156.363 11.2453C155.481 13.5599 153.659 14.774 151.694 14.7831H141.64C139.109 14.7831 137.488 17.5296 138.664 19.8124C140.005 22.3997 142.344 23.8458 144.972 24.7416C147.609 25.6374 150.313 25.8238 153.022 25.6192C150.469 25.9602 147.734 27.5472 146.803 29.8254V45.3588C149.182 45.0314 151.333 44.3902 153.36 43.3034C156.826 41.4527 159.227 38.7062 160.47 35.2093C160.613 34.8137 160.746 34.4181 160.867 34.0225C160.92 33.8452 160.969 33.6678 161.005 33.495C161.107 33.0448 161.156 32.5901 161.156 32.149C161.156 31.7079 161.107 31.2441 161.009 30.8076C160.421 28.1975 158.158 26.0648 155.187 25.6237Z"
                  fill="#5F398E"
                />
              </svg>
            </div>
            <p>
              شركة سعودية تسعى لتحقيق الريادة والارتقاء بمعايير إدارة وتنظيف
              المرافق، من خلال دمج الخدمات التقليدية مع أحدث الحلول المبتكرة،
              وتقديم تجربة فريدة ومتكاملة تشمل النظافة، والصيانة، وعدد من
              الخدمات المساندة؛ لتوفر لعملائها بيئة صحية ومتألقة تعزز جودة
              حياتهم وترقى لتطلعاتهم.
            </p>
          </div>
          <div class="contact-info">
            <div class="contact-container">
              <div class="whatsapp">
                <img src="/images/whatsapp.svg" alt="" />
                <span>0538447633</span>
              </div>
              <div class="email">
                <img src="/images/email.svg" alt="" />
                <span>info@taassneff.com</span>
              </div>
              <div class="location">
                <img src="/images/location.svg" alt="" />
                <span>الرياض</span>
              </div>
              <div class="vat">
                <img src="/images/vat.svg" alt="" />
                <div class="tax-number">
                  <span>الرقم الضريبي</span>
                  <span>311784213300003</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Payment Methods And CopyRight -->
        <div class="payment-copyright">
          <div class="copyright">
            <a href="/home/terms"><span>الشروط والأحكام</span></a>
            <span>جميع الحقوق محفوظة</span>
          </div>
          <div class="payment-method">
            <img src="/images/apple-pay.svg" alt="" />
            <img src="/images/mada.svg" alt="" />
            <img src="/images/visa-mastercard.svg" alt="" />
            <img src="/images/online-bank.svg" alt="" />
            <img src="/images/tabby.svg" alt="" />
            <img src="/images/cash.svg" alt="" />
          </div>
        </div>
      </div>
    </footer>
    <script src="/javascript/main.js"></script>
  </body>
</html>
